.Navbar {
  border-radius: 0px;

  .carousel {
    .navbar {
      position: absolute;
      background-color: transparent;
      width: 100%;
      border: none;
      z-index: 1;
      border-radius: 0px;

      .greetings {
        line-height: 70px;
        padding-top: 10px;
        color: white;
      }
    }

    .navbar-inverse {
      .navbar-brand {
        color: white;
        line-height: 70px;
        padding-top: 10px;
        font-size: 20px;

        &:hover {
          color: #adb5bd;
        }
      }

      .navbar-nav {
        li {
          a {
            color: white;
            text-transform: uppercase;
            line-height: 70px;
            padding-top: 10px;
            font-size: 20px;

            &:hover {
              color: #adb5bd;
            }
          }
        }
      }
    }
  }
}