.authentication {
  background-color: #1abc9c;
  height: 100vh;
  color: #2f4c7a;
  padding-top: 100px;
  min-width: 540px; }
  .authentication .header {
    background-color: #1abc9c;
    text-align: center;
    margin: 0 auto;
    width: 220px; }
    .authentication .header .home-link {
      text-decoration: none;
      color: #2f4c7a;
      width: 95px;
      height: 25px; }
      .authentication .header .home-link :hover {
        color: white; }
      .authentication .header .home-link h1 {
        margin-top: 0px;
        font-weight: bold; }
  .authentication .main {
    max-width: 650px;
    min-width: 540px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: white; }
    .authentication .main h3 {
      text-align: center; }
    .authentication .main .input-box {
      width: 80%;
      height: 40%;
      margin: 0 auto;
      padding: 20px 10% 0; }
      .authentication .main .input-box label {
        width: 100%;
        font-size: 15px;
        min-width: 20%;
        float: left;
        clear: both; }
      .authentication .main .input-box input {
        width: 100%;
        height: 40px;
        font-size: 25px;
        padding: 0 2px; }
    .authentication .main .authenticate {
      text-align: center;
      margin-top: 25px; }
      .authentication .main .authenticate input {
        border-radius: 0px;
        width: 30%;
        height: 40%;
        font-size: 17px; }
    .authentication .main .false-login {
      text-align: center;
      margin-top: 20px;
      font-size: 18px; }
      .authentication .main .false-login .signup-link {
        text-decoration: none;
        color: #1abc9c; }
      .authentication .main .false-login :hover {
        color: #2f4c7c; }
    .authentication .main .social {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .authentication .main .social hr {
        padding: 0;
        border-color: #2f4c7a;
        text-align: center;
        margin: 30px auto 0 auto;
        width: 95%; }
      .authentication .main .social div {
        position: relative;
        text-align: center;
        display: inline-block;
        top: -12px;
        padding: 0px 0.5em;
        min-width: 50px;
        background-color: white; }
    .authentication .main .social-button {
      text-align: center;
      height: 150px; }
      .authentication .main .social-button h3 {
        margin-top: 25px; }
      .authentication .main .social-button .facebook {
        background-color: #3b5998; }
      .authentication .main .social-button .linkedin {
        background-color: #0077B5; }
      .authentication .main .social-button .twitter {
        background-color: #00aced; }
      .authentication .main .social-button button {
        display: inline;
        width: 160px;
        height: 60px;
        border: none;
        margin: 0 5px 0 5px;
        font-size: 20px;
        font-weight: 400; }
        .authentication .main .social-button button i {
          float: left;
          font-size: 25px; }
